# Delay updates by 24 hours (malware is usually caught within 6 hours)
minimum-release-age=1440

# We use the JSR registry since it's better for typescript
@jsr:registry=https://npm.jsr.io

# We converted from npm to pnpm and haven't fixed everything yet
node-linker=hoisted